body{
    font:0.8em arial;
}
.chat .messages{
    border:1px solid #ccc;
    width:250px;
    height:210px;
    padding:10px;
    overflow-y: scroll;
}
.chat .message a{
    colr:slategrey;
}
.chat .message p{
    margin:5px 0;
}
.chat .entry{
    width:260px;
    height:40px;
    padding:5px;
    margitn-top:5px;
    font:1em;
}